html
{
    margin: 0px;
    padding: 0px;    

    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}


body
{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #f68583 !important; 
    overflow: hidden;
}

/* FONTS */

.Luckiest
{
  font-family: 'Luckiest Guy', cursive !important;
}

.Handlee
{
  font-family: 'Handlee', cursive !important;
}

.indie
{
  font-family: 'Indie Flower', cursive !important;
}



.main-window
{
    background-color: #f68583 !important;
    height: 100%;
}

/* bordi di appoggio */
.bp1
{
    border: 3px solid red;
}

.bp2
{
    border: 3px solid green;
}

.bp3
{
    border: 3px solid purple;
}

.bp4
{
    border: 3px solid lime;
}


#bottoneRock
{
    background: url('resources/images/rock.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#bottoneScissors
{
    background: url('resources/images/scissors.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#bottonePaper
{
    background: url('resources/images/paper.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.bottone
{
    transition: 0.4s;
}


.bottone:hover
{
    transform: scale(1.2);
}

.appearAnimation
{
    
    animation-name: appear;
    animation-duration: 0.4s; 
}




@keyframes appear {
    from 
    {
        transform: scale(1.3);
    }
    to 
    {
        transform: scale(1);
    }
  }

.font-score
{
    font-size:2rem;
    font-weight: lighter;
    z-index: 999;
}

.textAnimation
{
    animation-name: enlargeText;
    animation-duration: 0.4s;
}

@keyframes enlargeText
{
    from 
    {
        color: #922791;
        font-size:6rem;
        font-weight:bolder;
        font-stretch: wider;
    }
    to 
    {
        color: black;
        font-size:2rem;
        font-weight: lighter;
        font-stretch: normal;
    }
}

.cpu-game-box
{
    min-height: 150px;
}

.image-full
{
    max-height: 100%;
    max-width: 100%;  
     
    /* width: 200px; */
    
}


#landing
{
    height: 100vh;
}

#bottonePlay
{
    border-radius: 50px;
    border-color: plum;
    color: white;
    background-color:#ec3494;
    padding-left: 50px;
    padding-right: 50px;

    animation-name: vibra;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.4s;
    animation-direction:alternate;
    transition: 0.4s;
}


#bottonePlayAgain
{
    border-radius: 50px;
    border-color: plum;
    color: white;
    background-color:#ec3494;
    padding-left: 50px;
    padding-right: 50px;

    animation-name: vibra;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.4s;
    animation-direction:alternate;
    transition: 0.4s;
}



@keyframes vibra
{
    from
    {
        transform:rotate(2deg);
    }
    to
    {
        transform:rotate(-2deg);
    }
}



#bottonePlay:hover
{
    box-shadow: 23px 23px 1px #fbc604;
    border: 25px solid #0fcfee;
}


#immagine-musica
{
    animation-name: vibra;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
    animation-direction:alternate;
    
    transition: 0.4s;
}

#immagine-speaker
{
    animation-name: vibra;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    animation-direction:alternate;
    
    transition: 0.4s;
}


#cpu-label
{
    animation-name: vibra;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    animation-direction:alternate;
    
    transition: 0.4s;
}

#player-label
{
    animation-name: vibra;
    animation-iteration-count: infinite;
    animation-timing-function:ease-out;
    animation-duration: 0.4s;
    animation-direction:alternate;
    
    transition: 0.4s;
}









  #resultsPage
  {
      transition: 0.7s;
  }

  #landing
  {
    bottom: 0px;
    z-index: 99999;
    transition: 2s;
  }